body {
    background-color:rgb(95, 98, 102) ;
}
*{
    margin:0 auto;
    padding:0;
}
.container{
    border:2px solid #000000f8; 
    width: 303px;
    height: 455px;
    display:inline-flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
    margin-top:100px;    
 }
 .container1{      
    width: 300px;
    height: 80px;
    text-align:right;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;   
 }
 #res{
    font-weight: 300;
 } 
 .input{
     padding-top:20px;
     font-weight: 900;     
 }
.buttons{
    position: relative;
    height: 350px;
    width: 300px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.button{
width:70px;
height: 60px;
text-align: center;
box-shadow:inset 0px 1px 0px 0px #ffffff;	
border-radius:2px;
background-color:#021446;
border:1px solid #dcdcdc;
display:inline-block;
cursor:pointer;
color:#fff;
font-family:Arial;
font-size:25px;
font-weight:200;
padding-top:10px;
text-decoration:none;
text-shadow:0px 1px 0px #ffffff;
}  
 .button:active {
	position:relative;
	top:2px;
}
 #simvol{
    background-color: #4e0144;
    color:white;
}
